html {
    min-height: 100%;
}

.main-body {
    background-image: url('static/background.jpg');
    min-height: 100%;
}

.main-screen {
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5vh;
    color: white;
    border-radius: 20px;
    min-height: 72vh;
    text-align: left;
}

.draw-screen {
    border: 1px solid white;
    position: absolute;
    background-color:blanchedalmond;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
}

#footer {
    padding-top: 3vh;
    width: 95%;
}

.inventory {
    background-color: darkgray;
    height: 50;
}

.item {
    padding-top: 1vh;
    padding-left: 1vh;
    border-width: 3px;
    border-color: yellow;
}

#item-spacing {
    padding-left: 35px;
}

#item-selection {
    border-radius: 5px;
    background-color: honeydew;
}

.choice-text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    block-size: .75em;
}

.minimize-button {
    border-radius: 5px;
    background-color: slategray;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 30px;
    float: right;
}

.image {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}